.root {
  width: 1440px;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0px 4px 5px #E9EDF3;
  border-radius: 8px;
  padding: 26px 0;

  &:hover {
    .checkbox {
      visibility: visible;
    }
  }
}

.main {
  position: relative;
  padding: 0 40px;
  font-size: 14px;
  color: #899CB1;
  display: grid;
  grid-template-columns: 53px 89px 128px 326px 214px 461px 90px;
  margin-bottom: 21px;
}

.table {
  border-spacing: 0;
}

.checkbox {
  position: absolute;
  left: 12px;
  visibility: hidden;
}

.loading {
  position: relative;
  left: 600px;
}